@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
}

.menu-hamburgue {
    display: flex;
    align-items: center;
    position: absolute;
    width: 36px;
    height: 32px;
    cursor: pointer;
}

.menu, .menu::before, .menu::after {
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

.menu::before {
    content: "";
    top: -12px;
}

.menu::after {
    content: "";
    top: 12px;
}