@charset "UTF-8";

.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
}

#menu-hamburgue {
    display: none;
}

.menu-list {
    display: flex;
    width: 600px;
    justify-content: space-around;
}

.menu-list li {
    list-style: none;
    padding: 8px 20px;
    margin: 0 2px;
}

a {
    text-decoration: none;
}