@charset "UTF-8";

.navigation {
    display: flex;
    width: 36px;
    justify-content: center;
}

.menu .linha {
    width: 32px;
    height: 3px;
    margin: 7px 3px;
    border-radius: 50px;
    background-color: black;
    transition: .4s;
}

.menu-on .linha:nth-child(2) {
    display: none;
}

.menu-on .linha:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 4px);
}

.menu-on .linha:nth-child(3) {
    transform: rotate(45deg) translate(-3px, -4px);
}

.menu-list {
    display: none;
}

.menu-list-on {
    position: absolute;
    width: 100%;
    top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.menu-list-on .op {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(220, 240, 1, 0.353);
    list-style: none;
    justify-content: center;
}

a {
    text-decoration: none;
}